= render 'shared/master_search_form'
.row{style: 'background-color: gainsboro; padding: 5px;'}
  %i.material-icons sort
  = sort_link(@search, :price, (params['q'] && params['q']['s'] && params['q']['s'].include?('desc') ? 'Giá tăng dần' : 'Giá giảm dần'))
.row.master-result-list
  -# %h3 Danh sách phòng
  - @rooms.first(20).each do |room|
    .col.s12
      .card.horizontal
        .card-image
          = link_to room_path(room) do
            - if room.room_images.present?
              = image_tag(room.room_images.first.image.cover.url, size: '190x190', style: 'border: 1px solid')
              .top-right
                %span.light-green-text.text-lighten-5.badge{class: user_css_class_by_room_status(room)}= room.status_s
              .bottom-left
                %span.badge.blue.light-green-text.text-lighten-5= "(#{room.room_images.count} ảnh)"
            - else
              = image_tag("logo", size: '190x190', style: 'border: 1px solid')
              .top-right
                %span.light-green-text.text-lighten-5.badge{class: user_css_class_by_room_status(room)}= room.status_s
        .card-stacked
          .card-content
            %ul{style: 'font-weight: bold'}
              %li
                .col.s9
                  %span #{room.price}/month
              %li
                .col.s9
                  %span #{room.size} m
                  %sup 2
              %li
                .col.s9
                  %span #{room.address}
          .card-action
            %a.waves-effect.waves-light.btn{:href => room_path(room)} Chi tiết
            %a.link-show-contact-dialog.waves-effect.waves-light.btn.modal-trigger{:href => "#contact-form", :data => { room_id: room.id, owner: room.owner.name }} Đăng ký xem phòng
= paginate @rooms
#contact-form.modal
  = form_for(:registration, url: registrations_path, method: :post, html: {class: 'form col s12'}) do |f|
    = f.hidden_field :room_id
    .modal-content
      %h3 Đăng ký xem phòng
      %h5
        %b
          Chủ nhà:
          %span#owner_name
      .row
        .row
          .input-field.col.s12
            %i.material-icons.prefix account_circle
            = f.text_field :customer_name, class: "validate", autofocus: true, :placeholder => "Họ Tên"
          .input-field.col.s12
            %i.material-icons.prefix phone
            = f.text_field :customer_contact_info, class: "validate", autofocus: true, :placeholder => "Điện thoại"
        .row
          .input-field.col.s12
            %i.material-icons.prefix edit_m
            = f.text_area :message, class: "materialize-textarea", autofocus: true, :placeholder => "Ghi chú: Giờ rảnh rỗi, thời gian chuyển,..."
    .modal-footer
      %a.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Hủy
      = f.submit 'Gửi', class: 'btn teal lighten-2'

:javascript
  $( document ).ready(function() {
    console.log('Room Index')
    $('.link-show-contact-dialog').click((event) => {
      let data = $(event.target).data()
      $('#owner_name').text(data.owner)
      $('#registration_room_id').val(data.roomId)
    })
  });
