.row{style: 'margin-top: 20px'}
  .breadcrumb-custom
    %a{:href => root_path}
      %span.breadcrumb-custom__inner
        %span.breadcrumb-custom__title Trang chủ
    %a{:href => root_path(q: {district_id_eq: @room.district_id})}
      %span.breadcrumb-custom__inner
        %span.breadcrumb-custom__title= @room.district.name
    %a{:href => root_path(q: {commune_id_eq: @room.commune_id})}
      %span.breadcrumb-custom__inner
        %span.breadcrumb-custom__title=@room.commune.name
    %a{:href => "#"}
      %span.breadcrumb-custom__inner
        %span.breadcrumb-custom__title Phòng trọ #{@room.address}

.row{style: 'border-left: 1px solid #4db6ac;'}
  .col.l3.s12
    .owner-info
      .profile
        .center
          %a.link-show-contact-dialog.waves-effect.waves-light.btn.modal-trigger{:href => "#contact-form", :data => { room_id: @room.id, owner: @room.owner.name }} Đăng ký xem phòng
          = link_to root_path(q: {owner_id_eq: @room.owner_id}) do
            .image
              .circle-1
              .circle-2
              %img{:alt => "Jessica Potter", :height => "70", :src => "http://100dayscss.com/codepen/jessica-potter.jpg", :width => "70"}/
          .name Chủ nhà: #{@room.owner.name}

        %ul{style: 'padding: 10px'}
          %li
            Diện tích:
            %b #{@room.size} m
            %b
              %sup 2
          %li
            Giá phòng:
            %b= @room.price
          %li
            Trạng thái:
            %b= @room.status_s
  .col.l9.s12
    .w3-content.w3-display-container{style: 'border: 1px solid black;'}
      - @room.room_images.each do |room_image|
        %a.slide{:href => "#"}
          %img.mySlides{:src => room_image.image.url, :style => "width:100%; height: 500px"}/
      %button.w3-button.w3-black.w3-display-left{:onclick => "plusDivs(-1)"} ❮
      %button.w3-button.w3-black.w3-display-right{:onclick => "plusDivs(1)"} ❯
  .col.l12
    %h4 Mô tả
    = @room.description
.row.master-result-list{style: 'margin-top: 70px;'}
  %h3.title Phòng cùng chủ nhà
  - Room.available.where(owner_id: @room.owner_id).where.not(id: @room.id).each do |room|
    .col.s12
      .card.horizontal
        .card-image
          = link_to room_path(room) do
            - if room.room_images.present?
              = image_tag(room.room_images.first.image.cover.url, size: '190x190', style: 'border: 1px solid')
              .top-right
                %span.light-green-text.text-lighten-5.badge{class: user_css_class_by_room_status(room)}= room.status_s
              .bottom-left
                %span.badge.blue.light-green-text.text-lighten-5= "(#{room.room_images.count} ảnh)"
            - else
              = image_tag("logo", size: '190x190', style: 'border: 1px solid')
              .top-right
                %span.light-green-text.text-lighten-5.badge{class: user_css_class_by_room_status(room)}= room.status_s
        .card-stacked
          .card-content
            %ul{style: 'font-weight: bold'}
              %li
                .col.s9
                  %span #{room.price}/month
              %li
                .col.s9
                  %span #{room.size} m
                  %sup 2
              %li
                .col.s9
                  %span #{room.address}
          .card-action
            %a.waves-effect.waves-light.btn{:href => room_path(room)} Chi tiết
            %a.link-show-contact-dialog.waves-effect.waves-light.btn.modal-trigger{:href => "#contact-form", :data => { room_id: room.id, owner: room.owner.name }} Đăng ký xem phòng

#contact-form.modal
  = form_for(:registration, url: registrations_path, method: :post, html: {class: 'form col s12'}) do |f|
    = f.hidden_field :room_id
    .modal-content
      %h3 Đăng ký xem phòng
      %h5
        %b
          Chủ nhà:
          %span#owner_name
      .row
        .row
          .input-field.col.s12
            %i.material-icons.prefix account_circle
            = f.text_field :customer_name, class: "validate", autofocus: true, :placeholder => "Họ Tên"
          .input-field.col.s12
            %i.material-icons.prefix phone
            = f.text_field :customer_contact_info, class: "validate", autofocus: true, :placeholder => "Điện thoại"
        .row
          .input-field.col.s12
            %i.material-icons.prefix edit_m
            = f.text_area :message, class: "materialize-textarea", autofocus: true, :placeholder => "Ghi chú: Giờ rảnh rỗi, thời gian chuyển,..."
    .modal-footer
      %a.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Hủy
      = f.submit 'Gửi', class: 'btn teal lighten-2'

:javascript
  var slideIndex = 1;
  showDivs(slideIndex);
  function plusDivs(n) {
    showDivs(slideIndex += n);
  }
  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }

  $( document ).ready(function() {
    console.log('Room Index')
    $('.link-show-contact-dialog').click((event) => {
      let data = $(event.target).data()
      $('#owner_name').text(data.owner)
      $('#registration_room_id').val(data.roomId)
    })
  });
