%h2 Danh sách người đăng ký
%table.responsive-table
  %thead
    %tr
      %th Số phòng
      %th Họ tên
      %th Thông tin liên hệ
      %th
  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= room.size
        -# %td= room.address
        %td
          %span.light-green-text.text-lighten-5.badge{class: admin_css_class_by_room_status(room)}= room.status_s
        %td= room.price
        %td= room.elictrical_price
        %td= room.water_price
        %td= room.water_fee_method
        %td.actions
          = link_to host_room_path(room), class: 'btn blue lighten-1', title: 'Xem Chi Tiết' do
            %i.material-icons remove_red_eye
          = link_to edit_host_room_path(room), class: 'btn lime lighten-2', title: 'Chỉnh sửa' do
            %i.material-icons edit
          = link_to host_room_path(room), method: :delete, class: 'btn orange darken-3', title: 'Xóa',
            data: {confirm: "Bạn muốn xóa?"} do
            %i.material-icons delete