!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    %title Starter Template - Materialize
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body.host-layout
    %nav.blue.darken-1{:role => "navigation"}
      .nav-wrapper
        %a#logo-container.brand-logo{:href => "/"}
          PhongTroXinh
        %ul.right.hide-on-med-and-down
          - if user_signed_in?
            %li
              = link_to host_rooms_path do
                %span
                  %i.material-icons account_balance
                  Quản lý phòng
            %li
              = link_to host_contracts_path do
                %span
                  %i.material-icons content_paste
                  Quản lý hợp đồng
            - if current_user.admin?
              %li
                = link_to admin_root_path do
                  %span
                    %i.material-icons remove_from_queue
                    Dành cho quản trị viên
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span
                  %i.material-icons power_settings_new
                  Đăng xuất
          - else
            %li
              = link_to new_user_session_path do
                %span
                  %i.material-icons vpn_key
                  Đăng Nhập
            -# %li
            -#   = link_to new_user_registration_path do
            -#     %span
            -#       %i.material-icons account_box
            -#       Đăng Ký
        %ul#nav-mobile.sidenav
          %li
            %a{:href => "#"} Navbar Link
        %a.sidenav-trigger{"data-target" => "nav-mobile", :href => "#"}
          %i.material-icons menu
    %div
      .row
        .col.m12.s12
          =yield
    %footer.page-footer.teal.lighten-2
      .container
        .row
          .col.l6.s12
            %h5.white-text Company Bio
            %p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          .col.l3.s12
            %h5.white-text Settings
            %ul
              %li
                %a.white-text{:href => "#!"} Link 1
              %li
                %a.white-text{:href => "#!"} Link 2
              %li
                %a.white-text{:href => "#!"} Link 3
              %li
                %a.white-text{:href => "#!"} Link 4
          .col.l3.s12
            %h5.white-text Connect
            %ul
              %li
                %a.white-text{:href => "#!"} Link 1
              %li
                %a.white-text{:href => "#!"} Link 2
              %li
                %a.white-text{:href => "#!"} Link 3
              %li
                %a.white-text{:href => "#!"} Link 4
      .footer-copyright
        .container
          Made by
          %a.orange-text.text-lighten-3{:href => "http://materializecss.com"} Materialize

:javascript
  $( document ).ready(function() {
    console.log( "ready!" );
    $('#district_city_id, #q_district_id_eq, #q_commune_id_eq').change((event) => {
      $('.master-search-form form').submit()
    })
  });
